// Here you can add other styles

// WAITING
.waiting {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background: rgba(#fff, .5);
  overflow: hidden;
}
.v-align-container {
  width: 100%;
  height: 100%;
}
.v-align-outer {
  display: table;
  width: 100%;
  height: 100%;
}
.v-align-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.v-align-centered {
  position: relative;
  display: inline-block;
}